<nav class="header">

         <%= link_to "Homepage", genericpage_path %>

          <%#lets use some devise methods %>
        <%# if current_user && current_user.current_cart%>
           <%#= link_to "Cart", cart_path(current_user.current_cart) %>
        <%# end %>

        <%#= render partial: 'layouts/sign_in'%>




</nav>
